/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');



.buttons {
   
    button.p-ripple.p-element.p-button.p-component {
        width: 150px;
        margin-right: 4px;
        margin-left: 180px;
        border-radius: 5px;
        height: 45px;
    }
}

.button1 {
    #btn1 {
        button.p-ripple.p-element.p-button.p-component {
            background-color: white;
            border: 1px solid blue;
            color: blue;
        }
    }
    #btn2{
        button.p-ripple.p-element.p-button.p-component {
            background-color: blue;
            border: 1px solid blue;
            margin-left: 24px;
        }
    }
    button.p-ripple.p-element.p-button.p-component {
        width: 150px;
    }
}

// .ng-trigger.ng-trigger-panelState.ng-tns-c91-0.p-sidebar.p-sidebar-active.p-sidebar-right.ng-star-inserted {
//     width: 800px !important;
//     background-color: rgb(255, 255, 255);
//     // height: 700vh;
// }
.ng-tns-c60-1.p-dropdown.p-component.p-dropdown-clearable {
    width: 350px;
    height: 45px;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    // padding-top: 10px;
}

input#withoutgrouping {
    width: 350px;
    height: 40px;
}

button.p-element.btn2.p-button.p-component {
    background-color: red;
    border: 1px solid red;
}

button.p-element.btn1.p-button.p-component {
    background-color: #6ece6e;
    border: 1px solid #6ece6e;
}

button.p-ripple.p-element.btnss.p-button.p-component {
    background-color: #6ece6e;
    border: 1px solid #6ece6e;
}

button.p-element.p-button.p-component {
    width: 100px;
    height: 35px;

}

button.p-element.btn2.p-button.p-component {
    padding-left: 10px;
}

.card {
    border: none;
}


.sidebar {

    input#username2 {
        border: 1px solid #c5cace;
    }

    input#age {
        border: 1px solid #c5cace;
    }

    input#department {
        border: 1px solid #c5cace;
    }

    input.p-inputtext.p-component.p-element.ng-dirty.ng-untouched.ng-pristine.ng-invalid {
        border: 1px solid #c5cace;
    }

    p.ng-star-inserted {
        height: 0px;
        font-size: 12px;
        padding: 2px;
        margin-right: 5px;
    }

}


.btnsdown {

    margin-left: 40px;
    margin-top: 100px;

    button.p-element.p-button-secondary.p-button.p-component {
        width: 116px;
    }

    button.p-element.p-button-success.p-button.p-component {
        width: 110px;
        margin-right: 30px;
    }
}

.reg{
    /* You can add global styles to this file, and also import other style files */


input#email {
    width: 300px;
    height: 40px;
    margin-left: 33px;
    // margin-: 20px;
}


button.p-ripple.p-element.p-button.p-component {
    width: 301px;
    height: 40px;
    margin-left: 20px;
    margin-top: 45px;
}
}

input.p-inputtext.p-component.p-element.ng-tns-c97-0 {
    width: 301px;
    height: 40px;
    margin-left: 20px;
}

.p-input-icon-right > .p-inputtext ::before {
    padding-right: 90px !important;
}
.pi-eye:before {
    content: "\e966";
    /* margin-right: -59px; */
    margin-left: -30px;
}


input.p-inputtext.p-component.p-element.ng-tns-c97-2 {
    width: 300px;
    margin-left: 20px;
    height: 40px;
}