/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');



.buttons {
    button.p-ripple.p-element.p-button.p-component {
        width: 150px;
        height: 40px;
        border-radius: 0%;
        margin-right: 4px;

    }
}

// .ng-trigger.ng-trigger-panelState.ng-tns-c91-0.p-sidebar.p-sidebar-active.p-sidebar-right.ng-star-inserted {
//     width: 800px !important;
//     background-color: rgb(255, 255, 255);
//     // height: 700vh;
// }
.ng-tns-c60-1.p-dropdown.p-component.p-dropdown-clearable {
    width: 350px;
    height: 45px;
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    // padding-top: 10px;
}

input#withoutgrouping {
    width: 350px;
    height: 40px;
}

button.p-element.btn2.p-button.p-component {
    background-color: red;
    border: 1px solid red;
}

button.p-element.btn1.p-button.p-component {
    background-color: #6ece6e;
    border: 1px solid #6ece6e;
}

button.p-ripple.p-element.btnss.p-button.p-component {
    background-color: #6ece6e;
    border: 1px solid #6ece6e;
}

button.p-element.p-button.p-component {
    width: 100px;
    height: 35px;

}

button.p-element.btn2.p-button.p-component {
    padding-left: 10px;
}

.card {
    border: none;
}